header {
  position: fixed;
  height: 8vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #1976d2;
  color: #fff;
  padding: 1rem;
  top: 0;
  z-index: 99;

  h2 {
    margin: 0;
  }
}

main {
  margin-top: calc(4rem + 8vh);
}

app-menu {
  position: fixed;
  bottom: 0px;
  z-index: 99;
}

.create-button {
  position: fixed;
  bottom: 12vh;
  right: 8vw;
}